html{
    background-color: yellow;
}
.info {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
.smartphone {
    position: relative;
    width: 370px;
    height: 610px;
    margin: auto;
    border: 16px blue solid;
    border-top-width: 20px;
    border-bottom-width: 40px;
    border-radius: 36px;
    z-index: 1;
  }
.smartphone:before {
    content: '';
    display: block;
    width: 250px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: blue;
    border-radius: 10px;
    z-index: 3;
  }
  .smartphone:after {
    content: "";
    display: block;
    width: 315px;
    height: 42px;
    position: absolute;
    left: 50%;
    bottom: -44px;
    transform: translate(-50%, -50%);
    background: rgb(190, 189, 189);
    border-radius: 9999px;
    color: rgb(163, 163, 163);
    z-index: 4;
  }
.chat {
    position: relative;
    border-radius: 23px;
    width: 320px;
    height: 637px;
    background: white;
    z-index: 2;
  }
.txt{
    position: absolute;
    top: 600px;
    left: 40px;
    padding: 10px;
    z-index: 5;
}
.Txt:after {
    padding-top: 20px;
    background: white;
    z-index: 5;
}
body {
    font-family: helvetica;
    display: flex ;
    flex-direction: column;
    align-items: center;
  } 
.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
.yours {
    align-items: flex-start;
  }
  
.yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
  }
  
.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
  }
.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
  }
  
.mine {
    align-items: flex-end;
  }
  
.mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
  }
  
.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
  }
  
.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
  }
.info {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
  
footer  {
position: fixed;
bottom: 100px;
 font-size: 11px; text-align: center; 
  color: hsl(228, 45%, 44%)
}
.container {
 display: flex;
 flex-direction: row;
}
.Typea {
    position: absolute;
    top: 595px;
    left: 15px;
    padding: 10px;
    z-index: 5;
}