html{
    background-color: white;
    max-width: 1440px;
}
.info {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
.smartphone {
  box-shadow: 0px 1px 20px 4px #d6d6d6;
  position: relative;
  width: 370px;
  height: 610px;
  margin: auto;
  border: 16px white solid;
  border-top-width: 20px;
  border-bottom-width: 40px;
  border-radius: 36px;
  z-index: 1;
  margin-left: 50px;
  }
.smartphone:before {
    content: '';
    display: block;
    width: 250px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    z-index: 3;
  }
  .smartphone:after {
    content: "";
    display: block;
    width: 315px;
    height: 42px;
    position: absolute;
    left: 50%;
    bottom: -44px;
    transform: translate(-50%, -50%);
    background: rgb(206, 205, 205);
    border-radius: 9999px;
    color: rgb(163, 163, 163);
    z-index: 4;
  }
.chat {
  position: relative;
  border-radius: 11px;
  width: 320px;
  height: 637px;
  background: hsl(270, 20%, 96%);
  z-index: 2;
  }
.Txt{
    position: relative;
    top: 30px;
    left: -7px;
    padding: 10px;
    z-index: 5;
}
.Txt:after {
    padding-top: 20px;
    background: white;
    z-index: 5;
}
body {
    font-family: 'Rubik';
    display: flex ;
    flex-direction: column;
    align-items: center;
  } 
.mine {
padding-left: 10px;
padding-right: 10px;
}
.yours{
padding-left: 10px;
padding-right: 10px;
font-weight: 300;
}
.messages{
  font-size: 13px;
  margin-top: 30px;
  color: white;
  border-radius: 8px;
  margin: auto;
  font-weight: 300;
}
.messagea{
  font-size: 13px;
  margin-top: 30px;
  background-color: hsl(270deg 8% 80%);
  color: hsl(276, 55%, 52%);
  border-radius: 8px;
  margin-left: 3px;
  
}
.message{
  font-size: 13px;
  margin-top: 8px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 4px -4px rgba(119, 119, 119, 0.7);
}
.info {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
  
footer  {
position: relative;
bottom: 1000px;
 font-size: 11px; text-align: center; 
  color: hsl(228, 45%, 44%)
}
.container {
 display: flex;
 flex-wrap: column wrap;
 flex-direction: row;
 max-width: 1000px;
 padding-left: 400px;
 width: 100%;
 max-width: 800px;
}
.Typea {
    position: absolute;
    top: 595px;
    left: 15px;
    padding: 10px;
    z-index: 5;

}
.dog {
  width: 65px;
  z-index: 4;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 20px;
}
.man {
  width: 45px;
  z-index: 4;
  position: absolute;
  border-radius: 100px;
  border: 3px solid white;
  bottom: 490px;
  right: 240px;
}
.Heading {
  height: 50px;
  width: 170px;
  padding-left: 90px;
  color: white;
}
.box{
  content: '';
  display: block;
  width: 319px;
  height: 94px;
  position: absolute;
  top: 45px;
  left: 159px;
  transform: translate(-50%, -50%);
  background:linear-gradient(to left,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
  z-index: 2;
  border-radius: 12px;
}
.money{
  font-size: 18px;
  right: 50px;
  margin: auto;
  font-weight: 700;
}
.MoneyC{
  color: white;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to left,hsl(293, 100%, 63%),hsl(264, 100%, 61%));;
  border-radius: 90px;
  max-width: 200PX;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
} 
.Mcontainer {
  width: 220px;
  font-size: 13px;
}
.Fcontainer{
  margin-top: 10px;
  right: 100px;
  border-radius: 20px;
  margin-left: 88px;
  width: 225px;
}
.Walk {
  color: hsl(276, 100%, 81%);
}
.makeit{
  margin-left: 85px;
}
/* =============================================*/
.content {
 height: 200px;
 width: 900px
}
.Main{
  position: relative;
  margin: auto 100px auto 100px;
  background-color: white;
  text-align: center;
  
}
.MainHeading{
  color: rgb(78, 2, 78);
  padding: 0px 50px 0px 50px;
  max-width: 300px;
  width: 100%;
  font-weight: 700;
}
.Subheading{
  color: rgb(119, 119, 119);
  text-align: center;
  padding: 0px 50px 0px 50px;
  max-width: 600px;
  width: 100%;
  word-spacing: 1px;
}